.icon-button {
  font-family: inherit;
  background-color: var(--white);
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;

  cursor: pointer;
  transition: all 0.1s ease;
  overflow: hidden;
  user-select: none;
  outline: none;
  border: none;
  color: var(--black);

  &[disabled] {
    cursor: not-allowed;
    opacity: 0.5;
  }

  &.primary {
    background-color: var(--primary);
    color: white;

    path {
      fill: white !important;
    }
  }

  &.danger {
    color: rgba($color: red, $alpha: 0.8);
    border-color: rgba($color: red, $alpha: 0.5);
    background-color: rgba($color: red, $alpha: 0.05);

    &:hover {
      border-color: red;
      background-color: rgba($color: red, $alpha: 0.1);
    }

    path {
      fill: red !important;
    }
  }

  &.success {
    color: rgba($color: green, $alpha: 0.8);
    border-color: rgba($color: green, $alpha: 0.5);
    background-color: rgba($color: green, $alpha: 0.05);

    &:hover {
      border-color: green;
      background-color: rgba($color: green, $alpha: 0.1);
    }

    path {
      fill: green !important;
    }
  }

  &.info {
    color: rgba($color: blue, $alpha: 0.8);
    border-color: rgba($color: blue, $alpha: 0.5);
    background-color: rgba($color: blue, $alpha: 0.05);

    &:hover {
      border-color: blue;
      background-color: rgba($color: blue, $alpha: 0.1);
    }

    path {
      fill: blue !important;
    }
  }

  &.warning {
    color: rgba($color: orange, $alpha: 0.8);
    border-color: rgba($color: orange, $alpha: 0.5);
    background-color: rgba($color: orange, $alpha: 0.05);

    &:hover {
      border-color: orange;
      background-color: rgba($color: orange, $alpha: 0.1);
    }

    path {
      fill: orange !important;
    }
  }

  &.secondary {
    color: rgba($color: gray, $alpha: 0.8);
    border-color: rgba($color: gray, $alpha: 0.5);
    background-color: rgba($color: gray, $alpha: 0.05);

    &:hover {
      border-color: gray;
      background-color: rgba($color: gray, $alpha: 0.1);
    }

    path {
      fill: gray !important;
    }
  }

  &:hover,
  &:focus {
    border-color: var(--primary);
  }
}

.shadow {
  box-shadow: var(--card-shadow);
}

.border {
  border: var(--border-in-light);
}

.icon-button-icon {
  width: 16px;
  height: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media only screen and (max-width: 600px) {
  .icon-button {
    padding: 10px;
  }
}

.icon-button-text {
  font-size: var(--text-xs);
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;

  &:not(:first-child) {
    margin-left: 5px;
  }
}
