.select-compress-model {
  width: 60%;
  select {
    max-width: 100%;
    white-space: normal;
  }
}
.select-translate-model {
  width: 60%;
  select {
    max-width: 100%;
    white-space: normal;
  }
}
.select-ocr-model {
  width: 60%;
  select {
    max-width: 100%;
    white-space: normal;
  }
}